
#header {
    /* margin-left: 30%; */
    margin-top: 5%;
}
h2 {
    font-size: 20px;
 
}
body {
    font-family: Raleway;
}

#selectedWorks {
    margin-top: 20%;
}

.container-fluid {
    content: center;
    border: solid;
}
#about-me-area {
    height: 500px;
}

#mypicture {
    border-radius: 50%;
    height: 300px
}
/* 
#container {
    margin: 20px;
    /* width: 200px; */
    /* width: 10%;
    height: 200px;
  } */ 

  .sharksupport-image {
      padding-bottom: 10%;
      padding-top: 20%;

  }


/* claass called invisible, property of display none, add class and remove class */



.footer {
    margin-top: 3%;
    padding: 40px;
    background-color: #FAFAFA
}
.fa {
    padding-top: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  #contact-buttons {
      margin-left: 40%;
  }
  .lets-get-in-touch {
    font-family: 'Raleway';
    font-size: 20px;
    padding-right: 5%;
    padding-top: 2%;
  }

#emoji {
    width: 30px;
}

#by-me {
    padding-top: 2%;
}

#emoji-section {
     margin-left: 40%;
     margin-top: 0%;
}

#reach-out {
    padding-top: 15%;
}

#giving-email {
    padding-top: 7%;
}

#live-laugh-love-feedback {
    padding-top : 8%;
}

.contact-me {
    /* padding-top: 10%; */
    
}

#github {
    width: 82%;
    padding-left: 5%;
    padding-top:4%
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
  }

#contact-me-title {
    margin-left: 30%;
    
}

@media only screen and (max-width: 3000px) {
    #header {
        margin-left: 30%;
        width: 40%;
    }
    #about-me-area {
        margin-left: 30%;
    }
    #about-me-area-words {
        width: 30%;
    }
    #selectedWorks {
        margin-left: 30%;
        width: 40%;
    }
    #contact-me-text {
        margin-left: 30%;
        width: 20%;
        /* text-align: center; */
    }

}

@media only screen and (max-width: 1000px) {
    #about-me-area {
        margin-left: 23%;
        width: 80%;

    }
    #about-me-area-words {
        width: 40%;
    }
    .footer {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    #about-me-area-words {
        width: 90%;
    }
    #contact-me-text {
        width:90%;
    }
}

@media only screen and (max-width: 500px) {
    #selectedWorks {
        margin: 5%;
        align-content: center;
    }
}






  


